@import '~bootstrap/scss/bootstrap';

#page {

  textarea {
    min-height: 250px;
    transition: all 0.3s ease-in-out;
  }

  .expanded {
    min-height: 75vh;
  }

  #expand-button {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    display: block;
  }

  #expand-button:hover {
    opacity: 1;
  }

}
